# Data folder
data/
documentacion/*
!/documentacion/tfg.tex
!/documentacion/tfg.pdf
!/documentacion/images/

# Data files
*.csv
*.json

# Mac files
.DS_Store

# Virtual environment
.venv/

# Models and runs
runs/
models/

# Additional files
nohup.out

__pycache__/
