# Data files
*.csv
*.json

# Data folder
data/*
documentacion/*
!/documentacion/tfg.tex
!/documentacion/tfg.pdf
!/documentacion/images/
!data/Loan_default.csv

# Mac files
.DS_Store

# Virtual environment
.venv/

# Models and runs
runs/
models/*
!models/model_loan.pt

# Additional files
nohup.out

__pycache__/

.env

# Jupyter Notebook checkpoints
notebooks/